/* Theme colors */
.bg-indigo-600 {
  background-color: rgb(103 22 31);
}

.bg-indigo-700:hover {
  background-color: rgb(68 14 20);
}

.bg-yellow-50 {
  background-color: rgb(248 248 248);
}

.bg-gray-50 {
  background-color: rgb(191 191 191 / 34%);
}

.bg-primary {
  background-color: rgb(94 14 28);
}

/* Toast styles */
.toaster {
  background: #FFF;
}

/* Dashboard styles */
.dashboardTitle {
  margin: -2em 0 0 0;
  background: #3fc9c5;
  padding: 2em 1em 1em 1em;
}

.ProseMirror {
  text-align: center;
}

.z-50 .right-4 {
  display: none;
}

/* Dialog styles */
[role="alertdialog"] h2,
[role="alertdialog"] p {
  text-align: right;
}

[role="status"] {
  background-color: white !important;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}